*{
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    background-color: rgb(241, 239, 228);
    width: 100%;
    height: 110vh;
}

/*----------------------
        HEADER
----------------------*/
.container-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.container-title{
    background-color: black;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    color:  rgb(241, 239, 228);
}

.my-class-h1{
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal; 
    background-color: rgb(184, 25, 25);
    width: 150px;
}

.img-first{
    width: 100%;
    height: 350px;
    background-size: cover;
    background-image: url(img/marvel.png) ;
}

/*----------------------
        NAV
----------------------*/

.my-class-nav{
    max-height: 200px;
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center; 
}

.container-nav{
    height: 100%;
    display: flex;
    justify-content: center; 
    flex-direction: column;
}

.input{
    border: 0;
    padding: 5px;
    font-size: 20px;
    border-bottom: 2px solid rgb(184, 25, 25);
    margin-right: 50px;
    max-width: 300px;
}

.labels{
    font-size: 20px;
    padding-top: 5px;
}

.selects{
    font-size: 20px;
    padding:5px;
    border: 0;
}

.btn-search{
    border: 0;
    padding: 5px 10px;
    font-size: 20px;
    background-color:  rgb(184, 25, 25);
    color: white;
}

.margin-right{
    margin-left: 20px;
}

.display-flex-class{
    display: flex;
}

/* ----------------------
    SECTION
---------------------- */
section{
    width: 100%;
    height: 100%;
}

